.root {
  position: sticky;
  bottom: 0;
  left: 0;
  max-width: 100%;
  max-height: 12rem;
  overflow: scroll;
  padding: 0.5rem 2rem;
  height: 7rem;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: #fff;
  border-top: 1px solid #ccc;
  transition: transform 0.4s ease-out;
  animation: moveIn 0.4s;
  @keyframes moveIn {
    from {
      transform: translatey(100%);
    }
    to {
      transform: translatex(0);
    }
  }
  .card {
    display: flex;
    flex-wrap: wrap;
    .product {
      height: 4rem;
      width: 10rem;
      margin: 0.5rem 1rem;
      border: 1px solid #ccc;
      position: relative;
      img {
        width: 100%;
        height: 100%;
      }
      .icon {
        cursor: pointer;
        position: absolute;
        right: -0.5rem;
        top: -0.5rem;
      }
    }
  }
  .btn {
    background-color: #000;
    outline: none;
    border: none;
    color: #fff;
    font-size: 0.9rem;
    padding: 0.75rem 1.3rem;
    font-weight: 700;
    border-radius: 5px;
    cursor: pointer;
    border: 1px solid #000;
    text-decoration: none;
    &:hover {
      background-color: #fff;
      color: #000;
      transition: all 0.2s;
    }
    &:disabled {
      background-color: #ccc;
      border-color: #ccc;
      color: #fff;
      cursor: default;
      &:hover {
        background-color: #ccc;
        border-color: #ccc;
        color: #fff;
        cursor: default;
      }
    }
  }
}

@media only screen and (max-width: 1200px) {
  .root {
    height: 8rem;
    flex-direction: column;
    justify-content: flex-start;
    .card {
      justify-content: space-evenly flex-start;
      .product {
        width: 8rem;
      }
    }
    .btn {
      margin-top: 2rem;
    }
  }
}

@media only screen and (max-width: 900px) {
}

@media only screen and (max-width: 600px) {
}
