.root {
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 1px solid #ccc;
  padding: 0 2rem;
  position: sticky;
  top: 0;
  left: 0;
  max-width: 100%;
  background: #f7f7f7;
  z-index: 1;
  .menuIcon {
    display: none;
  }
  ul {
    list-style-type: none; /* Remove bullets */
    padding: 0; /* Remove padding */
    margin: 0;
    display: flex;
    li {
      margin: 0 0.75rem;
      font-size: 0.85rem;
      font-weight: 600;
      cursor: pointer;
      a {
        color: grey;
      }
    }
  }
}

@media only screen and (max-width: 900px) {
  .root {
    padding: 0 1rem;
    ul {
      li {
        margin: 0 0.5rem;
        font-size: 0.6rem;
        font-weight: 600;
      }
    }
  }
}

@media only screen and (max-width: 600px) {
  .root {
    padding: 0 1rem;
    .navbar {
      display: none;
    }
    .menuIcon {
      display: block;
      cursor: pointer;
    }
  }
}
